.profile__subtitle {
  color: white;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  max-width: 336px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding-bottom: 5px;
}

@media screen and (max-width: 645px) {
  .profile__subtitle {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
    padding: 0;
  }
}
